
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}



h1 {
    font-family: 'Righteous', sans-serif;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    background-color: black;
    color: #FA8072;
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}

nav{
    background-color: #FA8072;
    color: white; 
    text-align: left;
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 17px; 
    transition: box-shadow 1s;
}
nav a{
    margin: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 17%;
}

h2{
    font-family: 'Righteous', sans-serif;
    color: black;
    font-size: 24px;
    padding-top: 40px;
}
#base{
    margin-left: 30px;
    display: inline-table;
}

footer {
    color: black;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80px;
    padding-top: 50px;
    font-weight: bold;
    border-radius: 2%;
}


section#tabla {
    width: 50wv;
    margin: 20px auto;
}

section#tabla thead {
    background-color: gray;
    color: white;
    
}

section#tabla table {
    width: 100%;
}

section#tabla tbody {
    background-color: salmon;
}

section#tabla td {
    border: 1px solid black;
}
section #tabla tr {
    background-color: grey;
    color: #f9f9f9;
}